#body {
    background-color: beige;
}
.container {
    width: 900px;
    margin: 0 auto;
}
.header{
    height: 70px;
    background-color: bisque;

}
.sidebar{
    float: left;
    width:calc(20% - 1px);
    margin-left: 0;

}
.foot {
    clear: both;
    background-color: sienna;
    text-align: center;
    padding: 15px;
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.page {
    float: right;
    width: calc(80% - 1px);
}
a {
    text-decoration: double;
    color: aquamarine;
    padding: 5px;
}
a:hover {
    color: blue;
}
