<!DOCTYPE html>
<html ng-app="termometer">
<head> 
    <meta charset="utf-8">
    <title>Teperature</title>
        
</head>
<body>
    <div class="container" ng-controller='change'>
        <label for='celcius'>Celcius</label>
        <input type="text" id="celcius" ng-model="cel" ng-keyup="transformC()"/>
        
        <label for='fahrenheit'>Fahrenheit</label>
        <input type="text" id="fahrenheit" ng-model="fah" ng-keyup="transformF()" />
        
        <label for='kelvin'>Kelvin</label>
        <input type="text" id="kelvin" ng-model="kel" ng-keyup="transformK()"/>
    
    
    
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
        <script src="./js/app.js"></script>

</body>
</html>