body {
    padding: 0;
    margin: 0;
    background-color: beige;
}
#container {
    width: 1000px;
    margin: 0 auto;
}
.left {
    width: 700px;
    background-color:aquamarine;
}
.right {
    width: 300px;
    background-color: aliceblue;
}
.floatLeft {
    float: left;
    
}
#container:after {
    content: " ";
    display: block;
    clear: both;
}
nav > ul > li {
    padding: 5px 10px;
    text-align: center;
    list-style: none;  
}
h1.menu {
    text-transform: uppercase;
    text-align: center;
}