    <h3>TradeAnalytic</h3>
    <p class="mainText">Plik csv musi być zapisany w następujący sposób:<br>
    <small>Symbol,Side,Share,GrossPL,State,Gateway,Time,GatewayFee,
            Destination,RegFee,Date,ClearingFee,ActivityFee</small></p>
        <form action="http://localhost:8080/upload" method="POST" enctype="multipart/form-data" id="fileUploadForm">
            <div class="fileUpload">
                <input type="file" class="btn btn-dafault" name="file" id="myFile"/>
                <div class="button">
                    <button type="submit" class="btn btn-default button">Wyslij</button>
                    <p ng-if="message">{{ message }}</p>
                </div>
            </div>
        </form>
    