
            <div id='DateForm'>
                <input type='date' ng-model="from"/>
                <input type='date' ng-model="to"/>
                <button type="submit" class="glyphicon glyphicon-play" ng-click="showByDate()"></button>
                
            </div>




<div class="well">
    <div class="table-responsive">
        <table class="table table-striped">
            <tr class="col-md-10">
                <th class="col-md-1">Symbol</th>
                <th class="col-md-1">Side</th>
                <th class="col-md-1">Share</th>
                <th class="col-md-1">Gross</th>
                <th class="col-md-1">PriceEntry</th>
                <th class="col-md-1">PriceClose</th>
                <th class="col-md-1">TimeEntry</th>
                <th class="col-md-1">TimeClose</th>
                <th class="col-md-1">Fees</th>
                <th class="col-md-1">Date</th>
            </tr>
            <tr ng-repeat="t in trades" class="col-md-10">
                <td class="col-md-1">{{ t.symbol }}</td>
                <td class="col-md-1">{{ t.side }}</td>
                <td class="col-md-1">{{ t.shares }}</td>
                <td class="col-md-1">{{ t.gross.toFixed(2) }}$</td>
                <td class="col-md-1">{{ t.priceEntry.toFixed(2) }}</td>
                <td class="col-md-1">{{ t.priceOut.toFixed(2) }}</td>
                <td class="col-md-1">{{ t.timeEntry | date: 'HH:mm:s' }}</td>
                <td class="col-md-1">{{ t.timeOut | date: 'HH:mm:s' }}</td>
                <td class="col-md-1">{{ t.fees.toFixed(2) }}$</td>
                <td class="col-md-1">{{ t.date | date:'dd MM yyyy' }}</td>
            </tr>
        </table>
    </div>
</div>