body {
    font-family: "Verdana", sans-serif;
}
.paragraph{
    font-size: 18pt;
}
.paragraphColor{
    background-color: dimgrey;
    color: aqua;        
}
.borderColor{
/*                border: 3px solid orange;*/
    border-color: brown;
    border-style: dashed;
    border-width: 1px 3px 5px 8px; 
/*    zgodnie ze wskazówkami zegara od góry*/
}
            
.wrapper {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;      /* margines wewnętrzny */
    width: 300px;
}
a {
    color: burlywood;
    text-decoration: none;
}
a:hover {
    color: crimson;
}
.simpleText:before {
    content: ",,";
}
.simpleText:after {
    content: "``";
}