.upload-form{
    margin-top: 50px;
}

.table{
    table-layout: fixed;
    font-size: 10px;
}
.navLi{
    margin: 5px;
    
}

.mainText{
    text-indent: 30px;
}
.fileUpload {
    margin: auto;
    
}
.button{
    margin: auto;
    width: 100px;
}
th{
    table-layout: auto;
}