<div class="jumbotron">
    <h2>Acme Corporation</h2>
    <hr>
    <p>Nazwa ta pojawia się na większości sprzętów używanych przez Wilusia E. Kojota oraz w mniejszym stopniu na różnych produktach i instytucjach w innych seriach Looney Tunes. Ważną rolę odgrywa także w nowszych produkcjach Warner Brothers: Przygody Animków, Animaniacy etc. Postaci w animacjach tej wytwórni czasem zamawiają zupełnie zwyczajne albo rewolucyjne przyrządy poprzez sprzedaż wysyłkową realizowaną w kilka sekund po umieszczeniu listu w skrzynce. Na opakowaniach często jest napis Acme. Główne postaci serialu Pinky i Mózg są myszami laboratoryjnymi używanymi w zakładzie Acme Labs.
    Produkty Acme pojawiały się też w produkcjach niezwiązanych bezpośrednio z wytwórnią Warner Brothers. Wystąpiły m.in. w filmach z Kaczorem Donaldem[a], Tomem i Jerrym, animacjach z cyklu Różowa Pantera oraz w serialu Simpsonowie[b]. Jako ukryty żart symbol Acme pojawia się też w filmach[c], grach komputerowych i serialach aktorskich.
    </p>
</div>