<!DOCUMENT html>
<html ng-app="firstApp">
    <head>
        <meta charset="utf-8" />
        <title>Moja druga strona</title>
        
    </head>
<body>
    <div class="container">
        <p>{{ 2+2 }}</p>
        <div ng-controller="firstController">
            {{ user | json }}
            <p>Mr {{ user.name }} {{user.lastname  }} {{ user.salary | currency}}</p>
            <div ng-controller="thirdController">
                {{ message }} &bull; {{ $parent.message }}
                <ul>
                    <li ng-repeat="item in myList">{{ item + "__" }}</li>
                </ul>
                <button ng-click="showMessage()">Wyświetl</button>
            </div>
        </div>
        <div ng-controller="secondController as secondC">
            {{ secondC.info }}
        </div>
    </div>
    <div ng-controller="fourthController">
    <button ng-click="showCurrencies()">Pokaż waluty</button>
        <div>
            {{ rates }}
        </div>
    
    </div>
    <div ng-controller="username">
        <button ng-click="showUsername()">
        Print users</button>
        <div id="users">
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="./js/app.js"></script>
</body>